@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

#last_page{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3a6;
    height: 100vh;
}

.logo_ax{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_ax img{
    width: 15%;
}

.conteudo_page{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conteudo_page h1{
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    color: #BC0F06;
}

.conteudo_page p{
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
}