@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

#lp{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

#logo_lp{
  margin-top: 10px;
}

#logo_lp img{
  width: 180px;
}

#formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 1%;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#content_form{
  width: 100%;
}

#content_text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  align-items: center;
}

#content_text h1{
  font-family: 'Poppins';
  color: #BC0F06;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 20px;
  width: 80%;
  text-align: center;
}

#content_text p{
  width: 70%;
  margin: 0 auto;
  color: #00214A;
  font-family: 'Poppins';
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.input {
  position: relative;
}

.input-container{
  display: flex;
  flex-direction: row;
  padding: 7%;
}

.input-container input{
  background-color: #ffffff;
  border: none;
  width: 100%;
  font-family: 'Poppins';
  font-weight: 300;
  border-bottom: 1px solid #BC0F06; /* Cor do traço */
  padding-bottom: 5px; /* Espaçamento opcional abaixo do traço */
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  outline: none;
}

#tipoVeiculo {
  outline: none;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #BC0F06; /* Cor do traço */
  padding-bottom: 5px; /* Espaçamento opcional abaixo do traço */
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
  color: rgba(0, 0, 0, 0.677);
  font-family: 'Poppins';
  font-weight: 300;
}

.input-container img{
  width: 30px;
  height: 20px;
  padding-right: 10px;
}

#submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  width: auto;
  height: auto;
}

#submit_button{
  width: 90%;
  height: 40px;
  background-color: #00214A;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 300;
  border: none;
  border-radius: 55px;
  cursor: pointer;
}

#style_termos{
  padding-top: 0;
  font-size: 10px;
  color: black;
  font-family: 'Inter';
  text-align: center;
}
