@media screen and  (max-width: 1138px){
  #logo img{
    width: 220px;
  }
    
  #section1_h1 h1{
    font-size: 50px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 18px;
  }
  
  #section1_button button{
    width: 250px;
    height: 46px;
    font-size: 13px;
  }
  
  #section2_h1{
    margin-top: 150px;
    margin-left: 70px;
  }
  
  .sec2_title{
    font-size: 38px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 50px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 19px;
    text-align:justify;
    padding-inline: 70px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: -160px;
  }
  
  .section3_title h1{
    font-size: 37px;
  }
  
  .section3_title p{
    font-size: 17px;
  }
    
  .background_img{
    width: 150px;
    height: 150px;
  }
  
  .background_img img{
    width: 95px;
    height: 95px;
  }
  
  #linha1 h2{
    font-size: 18px;
    margin-top: 38px;
    padding-inline: 20px;
  }
  
  #linha2 h2{
    font-size: 20px;
    padding-inline: 45px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 13px;
    padding-inline: 30px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 13px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 37px;
  }
  
  #section4_title p{
    font-size: 15px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 150px;
    height: 150px;
  }
  
  .section4_img img{
    width: 95px;
    height: 95px;
  }
  
  .sec_4_coluna h2{
    font-size: 19px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 13px;
    padding-inline: 30px;
  }
  
  #text_5 h1{
    font-size: 32px;
  }
  
  #text_5 p{
    font-size: 14px;
    padding-top: 10px;
  }
  
  #section5_btn button{
    width: 223px;
    height: 48px;
    font-size: 13px;
  }
  
  #text_6 h1{
    font-size: 36px;
  }
  
  #mapa{
    width: 600px;
    height: 350px;
  }
  
  #rodape{
    height: 200px;
  }
  
  #logo_rodape img{
    width: 160px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 14px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 10px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 20px;
  }
}

@media screen and (max-width: 900px){
  #logo img{
    width: 210px;
  }
    
  #section1_h1 h1{
    font-size: 47px;
  }
  
  #section1_p p{
    font-size: 18px;
  }
  
  #section1_button button{
    width: 250px;
    height: 46px;
    font-size: 13px;
  }
  
  #section2_h1{
    margin-top: 150px;
    margin-left: 60px;
  }
  
  .sec2_title{
    font-size: 36px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 40px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 15px;
    text-align:justify;
    padding-inline: 60px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  .section3_title h1{
    font-size: 37px;
    margin-top: -100px;
  }
  
  .section3_title p{
    font-size: 17px;
  }
    
  .background_img{
    width: 150px;
    height: 150px;
  }
  
  .background_img img{
    width: 95px;
    height: 95px;
  }

  #linha1 h2{
    font-size: 18px;
    margin-top: 38px;
    padding-inline: 20px;
  }
  
  #linha2 h2{
    font-size: 20px;
    padding-inline: 20px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 13px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 13px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 37px;
  }
  
  #section4_title p{
    font-size: 15px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 150px;
    height: 150px;
  }
  
  .section4_img img{
    width: 95px;
    height: 95px;
  }
  
  .sec_4_coluna h2{
    font-size: 19px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 13px;
    padding-inline: 30px;
  }
  
  #text_5 h1{
    font-size: 30px;
  }
  
  #text_5 p{
    font-size: 14px;
    padding-top: 10px;
  }
  
  #section5_btn{
    margin-top: 60px;
  }
  

  #section5_btn button{
    width: 220px;
    height: 47px;
    font-size: 13px;
  }
  
  #text_6 h1{
    font-size: 36px;
  }
  
  #mapa{
    width: 600px;
    height: 350px;
  }
  
  #rodape{
    height: 200px;
  }
  
  #logo_rodape img{
    width: 160px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 14px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 10px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 20px;
  }
}

@media screen and (max-width: 800px){
  #logo img{
    width: 190px;
  }
    
  #section1_h1 h1{
    font-size: 40px;
  }
  
  #section1_p p{
    font-size: 18px;
  }
  
  #section1_button button{
    width: 250px;
    height: 46px;
    font-size: 13px;
  }
  
  #section2_h1{
    margin-top: 120px;
    margin-left: 60px;
  }
  
  .sec2_title{
    font-size: 33px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 40px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline: 60px;
  }

  #section2_img{
    padding-top: 100px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  .section3_title h1{
    font-size: 34px;
    margin-top: -100px;
  }
  
  .section3_title p{
    font-size: 15px;
  }
    
  .background_img{
    width: 140px;
    height: 140px;
  }
  
  .background_img img{
    width: 90px;
    height: 90px;
  }

  #linha1{
    padding-top: 100px;
  }

  #linha1 h2{
    font-size: 17px;
    margin-top: 38px;
    padding-inline: 20px;
  }
  
  #linha2 h2{
    font-size: 17px;
    padding-inline: 20px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 34px;
  }
  
  #section4_title p{
    font-size: 13px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 140px;
    height: 140px;
  }
  
  .section4_img img{
    width: 90px;
    height: 90px;
  }
  
  .sec_4_coluna h2{
    font-size: 17px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 30px;
  }
  
  #text_5 h1{
    font-size: 30px;
  }
  
  #text_5 p{
    font-size: 13px;
    padding-top: 10px;
  }

  #circulos img{
    width: 500px;
  }
  
  #section5_btn{
    margin-top: 60px;
  }
  
  #section5_btn button{
    width: 217px;
    height: 46px;
    font-size: 13px;
  }
  
  #text_6 h1{
    font-size: 33px;
  }
  
  #mapa{
    width: 480px;
    height: 330px;
  }
  
  #rodape{
    height: 190px;
  }
  
  #logo_rodape img{
    width: 150px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 13px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 10px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 20px;
  }
}



@media screen and (max-width: 700px){
  .scroll-arrow .arrow-icon{
    width: 2rem;
    height: 2rem;
    right: 1rem; 
    bottom: 3rem;
  }
  
  #logo img{
    width: 190px;
  }
    
  #section1_h1 h1{
    padding: 0px 0px 0px;
    font-size: 35px;
  }
  
  #section1_p p{
    font-size: 16px;
  }
  
  #section1_button button{
    width: 220px;
    height: 43px;
    font-size: 12px;
  }
  
  #section2_h1{
    margin-top: 100px;
    margin-left: 50px;
  }
  
  .sec2_title{
    font-size: 29px;
  }

  #section2_img{
    padding-top: 100px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 35px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 12px;
    text-align:justify;
    padding-inline: 60px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: -140px;
  }
  
  .section3_title p{
    font-size: 14px;
  }
    
  .background_img{
    width: 130px;
    height: 130px;
  }
  
  .background_img img{
    width: 80px;
    height: 80px;
  }

  #linha1{
    padding-top: 100px;
  }

  #linha1 h2{
    font-size: 15px;
    margin-top: 38px;
    white-space: normal;
    padding-inline: 10px;
  }
  
  #linha2 h2{
    font-size: 15px;
    padding-inline: 10px;
    margin-top: 40px;
    white-space: normal;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 70px;
  }
  
  .section4_img{
    width: 130px;
    height: 130px;
  }
  
  .section4_img img{
    width: 80px;
    height: 80px;
  }
  
  .sec_4_coluna h2{
    font-size: 15px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 30px;
  }
  
  #text_5 h1{
    font-size: 28px;
    padding-inline: 40px;
    margin-top: 50px;
  }
  
  #text_5 p{
    font-size: 12px;
    padding-top: 10px;
  }

  #circulos img{
    width: 450px;
  }
  
  #section5_btn{
    margin-top: 60px;
  }
  
  #section5_btn button{
    width: 195px;
    height: 42px;
    font-size: 12px;
  }

  .scroll-arrow.right{
    right: 20px;
  }
  
  .arrow-icon{
    width: 2rem;
    height: 2rem;
    right: 2rem; /* Ajuste a distância da borda direita conforme necessário */
    bottom: 3rem; /* Ajuste a distância da borda inferior conforme necessário */
  }
  
  #text_6 h1{
    font-size: 28px;
  }
  
  #mapa{
    width: 460px;
    height: 380px;
  }
  
  #rodape{
    height: 190px;
  }
  
  #logo_rodape img{
    width: 145px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 12px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 15px;
  }
}

@media screen and (max-width: 600px){
  .navbar #logo_navbar img{
    width: 135px;
  }

  .navbar #button_navbar button {
    width: 135px;
    height: 35px;
    font-size: 12px;
  }

  #logo img{
    width: 180px;
  }
    
  #section1_h1 h1{
    padding: 0px 0px 0px;
    font-size: 32px;
    white-space: normal;
  }
  
  #section1_p p{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 200px;
    height: 41px;
    font-size: 10px;
  }
  
  #section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 26px;
    padding-top: 100px;
    text-align: center;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  #section2_p{
    margin-top: 40px;
    text-align:justify;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline: 80px;
  }
  
  #section2_img img{
    width: 100%;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: 190px;
  }
  
  .section3_title p{
    font-size: 14px;
  }
    
  .background_img{
    width: 120px;
    height: 120px;
  }
  
  .background_img img{
    width: 75px;
    height: 75px;
  }

  #linha1{
    padding-top: 100px;
  }

  #linha1 h2{
    font-size: 15px;
    margin-top: 38px;
    white-space: normal;
    padding-inline: 10px;
  }
  
  #linha2 h2{
    font-size: 15px;
    padding-inline: 10px;
    margin-top: 40px;
    white-space: normal;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 10px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 30px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 70px;
  }
  
  .section4_img{
    width: 120px;
    height: 120px;
  }
  
  .section4_img img{
    width: 75px;
    height: 80px;
  }
  
  .sec_4_coluna h2{
    font-size: 14px;
    padding-inline: 10px;
  }
  
  .sec_4_coluna p{
    font-size: 11px;
    padding-inline: 10px;
  }
  
  #text_5 h1{
    font-size: 26px;
    margin-top: 60px;
    padding-inline: 40px;
  }
  
  #text_5 p{
    font-size: 12px;
    padding-top: 10px;
  }

  #circulos img{
    width: 450px;
  }
  
  #section5_btn{
    margin-top: 60px;
  }
  
  #section5_btn button{
    width: 187px;
    height: 41px;
    font-size: 11px;
  }
  
  #text_6 h1{
    font-size: 26px;
  }
  
  #mapa{
    width: 380px;
    height: 280px;
  }
  
  #rodape{
    height: 240px;
  }
  
  #rodape h2{
    font-size: 12px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 10px;
  }

  #logo_rodape img{
    display: none;
  }

  #logo_responsiva img{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  #div_branca{
    width: 1px;
    height: 125px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 15px;
  }

}

@media screen and (max-width: 500px){
  .navbar #logo_navbar{
    margin-top: 12px;
  }

  .navbar #logo_navbar img{
    width: 130px;
  }

  .navbar #button_navbar button {
    width: 125px;
    height: 32px;
    font-size: 12px;
  }

  #logo img{
    width: 170px;
  }
    
  #section1_h1 h1{
    padding: 0px 0px 0px;
    font-size: 30px;
    white-space: normal;
  }
  
  #section1_p p{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 180px;
    height: 40px;
    font-size: 10px;
  }
  
  #section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 26px;
    padding-top: 100px;
    text-align: center;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  #section2_p{
    margin-top: 40px;
    text-align:justify;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline: 80px;
  }
  
  #section2_img img{
    width: 100%;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: 200px;
  }
  
  .section3_title p{
    font-size: 14px;
    padding-top: 10px;
  }
    
  .background_img{
    width: 120px;
    height: 120px;
  }
  
  .background_img img{
    width: 75px;
    height: 75px;
  }

  #linha1{
    flex-direction: column;
  }

  #linha2{
    flex-direction: column;
    margin-top: 50px;
  }

  #elemento2, #elemento3, #elemento5{
    margin-top: 50px;
  }

  #linha1 h2{
    font-size: 16px;
    margin-top: 38px;
    padding-inline: 80px;
  }
  
  #linha2 h2{
    font-size: 16px;
    padding-inline: 80px;
    margin-top: 38px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 50px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 40px;
  }

  #linha3{
    flex-direction: column;
    margin-top: 10px;
  }

  #linha4{
    flex-direction: column;
    margin-top: 20px;
  }
  
  .section4_img{
    width: 120px;
    height: 120px;
  }
  
  .section4_img img{
    width: 75px;
    height: 80px;
  }

  .sec_4_coluna{
    margin-top: 50px;
  }
  
  .sec_4_coluna h2{
    font-size: 15px;
    padding-inline: 80px;
    margin-top: 38px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #text_5 h1{
    font-size: 25px;
    margin-top: 20px;
    padding-inline: 20px;
  }
  
  #text_5 p{
    font-size: 13px;
    padding-top: 10px;
    padding-inline: 20px;
  }

  #circulos{
    content: url('/images/circulos.png');
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 300px;
  }

  #section5_btn{
    margin-top: 40px;
  }
  
  #section5_btn button{
    width: 175px;
    height: 40px;
    font-size: 10px;
  }
  
  #text_6 h1{
    font-size: 27px;
    margin-bottom: -30px;
  }
  
  #mapa{
    width: 300px;
    height: 380px;
  }
  
  #rodape{
    height: 240px;
  }
  
  #rodape h2{
    font-size: 11px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 10px;
  }

  #logo_rodape img{
    display: none;
  }

  #logo_responsiva img{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  #div_branca{
    width: 1px;
    height: 125px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:8px;
    width: 15px;
  }
}

@media screen and (max-width: 450px){
  .scroll-arrow .arrow-icon{
    width: 2rem;
    height: 2rem;
    right: 0.5rem; 
    bottom: 2rem;
  }

  #logo img{
    width: 160px;
  }
    
  #section1_h1 h1{
    padding: 0px 0px 0px;
    font-size: 30px;
    white-space:normal;  
  }
  
  #section1_p p{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 178px;
    height: 40px;
    font-size: 10px;
  } 

  #text_5 h1{
    font-size: 30px;
    margin-top: 20px;
    padding-inline: 0;
  }

  .sec_4_coluna h2{
    font-size: 16px;
    padding-inline: 40px;
  }

  #circulos{
    content: url('/images/circulos.png');
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
  }

  #section5_btn{
    margin-top: 50px;
  }

  #section5_btn button{
    width: 190px;
    height: 42px;
    font-size: 11px;
  }

  #mapa{
    width: 280px;
    height: 400px;
  }

  #flex_rodape{
    margin-left: 30px;
  }

  #redes{
    margin-left: 10px;
  }

  #div_branca{
    margin-left: 10px;

  }
}

@media screen and (max-width: 400px){
  .navbar #logo_navbar, .navbar #button_navbar{
    margin-top: 15px;
  }

  .navbar #logo_navbar img{
    width: 120px;
  }

  .navbar #button_navbar button {
    width: 110px;
    height: 28px;
    font-size: 10px;
  }

  #logo img{
    width: 160px;
  }
    
  #section1_h1 h1{
    padding: 0px 0px 0px;
    font-size: 30px;
    white-space:normal;  
  }
  
  #section1_p p{
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 178px;
    height: 40px;
    font-size: 10px;
  }
  
  #section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 26px;
    padding-top: 100px;
    text-align: center;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  #section2_p{
    margin-top: 40px;
    text-align:justify;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline:60px;
  }
  
  #section2_img img{
    width: 100%;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: 200px;
  }
  
  .section3_title p{
    font-size: 14px;
    padding-top: 10px;
  }
    
  .background_img{
    width: 120px;
    height: 120px;
  }
  
  .background_img img{
    width: 75px;
    height: 75px;
  }

  #linha1{
    flex-direction: column;
    padding-top: 70px;
  }

  #linha2{
    flex-direction: column;
    margin-top: 50px;
  }

  #elemento2, #elemento3, #elemento5{
    margin-top: 50px;
  }

  #linha1 h2{
    font-size: 16px;
    margin-top: 38px;
    padding-inline: 80px;
  }
  
  #linha2 h2{
    font-size: 16px;
    padding-inline: 80px;
    margin-top: 38px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 50px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 40px;
  }

  #linha3{
    flex-direction: column;
    margin-top: 10px;
  }

  #linha4{
    flex-direction: column;
    margin-top: 20px;
  }
  
  .section4_img{
    width: 120px;
    height: 120px;
  }
  
  .section4_img img{
    width: 75px;
    height: 80px;
  }

  .sec_4_coluna{
    margin-top: 50px;
  }
  
  .sec_4_coluna h2{
    font-size: 15px;
    padding-inline: 80px;
    margin-top: 38px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #text_5 h1{
    font-size: 23px;
    margin-top: 20px;
    padding-inline: 10px;
  }

  #text_5 p{
    font-size: 13px;
    padding-top: 10px;
    padding-inline: 20px;
  }

  #circulos{
    content: url('/images/circulos.png');
    display: flex;
    padding-top: 50px;
    margin: 0 auto;
    width: 250px;
  }
  
  #section5_btn{
    margin-top: 50px;
  }
  
  #section5_btn button{
    width: 170px;
    height: 40px;
    font-size: 10px;
  }
  
  #text_6 h1{
    font-size: 22px;
  }
  
  #mapa{
    width: 250px;
    height: 370px;
  }
  
  #rodape{
    height: 240px;
  }
  
  #rodape h2{
    font-size: 11px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 9px;
  }

  #flex_rodape{
    margin-left: 10px;
  }

  #logo_rodape img{
    display: none;
  }

  #logo_responsiva img{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  #div_branca{
    width: 1px;
    height: 125px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:8px;
    width: 15px;
  }
}

@media screen and (max-width: 350px){
  .scroll-arrow .arrow-icon{
    width: 2rem;
    height: 2rem;
    right: 0rem; 
    bottom: 2rem;
  }

  #navbar.navbar.show {
    height: 65px;
  }

  .navbar #logo_navbar, .navbar #button_navbar{
    margin-top: 12px;
  }

  .navbar #logo_navbar img{
    width: 100px;
  }

  .navbar #button_navbar button {
    width: 105px;
    height: 25px;
    font-size: 9px;
  }

  #logo img{
    width: 150px;
  }

  #section1_h1 h1{
    font-size: 27px;
    white-space:normal;     
  }
  
  #section1_p p{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 170px;
    height: 40px;
    font-size: 10px;
  }
  
  #section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 26px;
    padding-top: 100px;
    text-align: center;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  #section2_p{
    margin-top: 40px;
    text-align:justify;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline:50px;
  }
  
  #section2_img img{
    width: 100%;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: 200px;
  }
  
  .section3_title p{
    font-size: 14px;
    padding-top: 10px;
  }
    
  .background_img{
    width: 120px;
    height: 120px;
  }
  
  .background_img img{
    width: 75px;
    height: 75px;
  }

  #linha1{
    flex-direction: column;
  }

  #linha2{
    flex-direction: column;
    margin-top: 50px;
  }

  #elemento2, #elemento3, #elemento5{
    margin-top: 50px;
  }

  #linha1 h2{
    font-size: 16px;
    margin-top: 38px;
    padding-inline: 60px;
  }
  
  #linha2 h2{
    font-size: 16px;
    padding-inline: 60px;
    margin-top: 38px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 50px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 40px;
  }

  #linha3{
    flex-direction: column;
    margin-top: 10px;
  }

  #linha4{
    flex-direction: column;
    margin-top: 20px;
  }
  
  .section4_img{
    width: 120px;
    height: 120px;
  }
  
  .section4_img img{
    width: 75px;
    height: 80px;
  }

  .sec_4_coluna{
    margin-top: 50px;
  }
  
  .sec_4_coluna h2{
    font-size: 15px;
    padding-inline: 50px;
    margin-top: 38px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #text_5 h1{
    font-size: 25px;
    margin-top: 20px;
    padding-inline: 0;
  }
  
  #text_5 p{
    font-size: 12px;
    padding-top: 10px;
    padding-inline: 20px;
  }

  #circulos{
    content: url('/images/circulos.png');
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 250px;
  }

  #circulos img{
    padding-top: 30px;  
  }
  
  #section5_btn{
    margin-top: 40px;
  }
  
  #section5_btn button{
    width: 160px;
    height: 38px;
    font-size: 9px;
  }
  
  #text_6 h1{
    font-size: 25px;
    margin-bottom: -30px;
  }
  
  #mapa{
    width: 240px;
    height: 380px;
  }
  
  #rodape{
    height: 240px;
  }
  
  #rodape h2{
    font-size: 11px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 10px;
  }

  #logo_rodape img{
    display: none;
  }

  #logo_responsiva img{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  #div_branca{
    width: 1px;
    height: 125px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:8px;
    width: 15px;
  }
}

@media screen and (max-width: 300px){
  .scroll-arrow .arrow-icon{
    width: 1.5rem;
    height: 1.5rem;
    right: 0rem; 
    bottom: 2rem;
  }

  .navbar {
    height: 50px;
    top: -80px;
  }

  #navbar.navbar.show {
    height: 62px;
  }

  .navbar #logo_navbar, .navbar #button_navbar{
    margin-top: 10px;
  }

  .navbar #logo_navbar img{
    width: 90px;
  }

  .navbar #button_navbar button {
    width: 100px;
    height: 25px;
    font-size: 9px;
  }

  #logo img{
    width: 150px;
  }

  #section1_h1 h1{
    font-size: 27px;
    white-space:normal;     
  }
  
  #section1_p p{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
  
  #section1_button button{
    width: 170px;
    height: 40px;
    font-size: 10px;
  }
  
  #section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 26px;
    padding-top: 100px;
    text-align: center;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
  }
  
  #section2_p{
    margin-top: 40px;
    text-align:justify;
  }
  
  #section2_p p{
    font-size: 13px;
    text-align:justify;
    padding-inline:50px;
  }
  
  #section2_img img{
    width: 100%;
  }
  
  .section3_title h1{
    font-size: 28px;
    margin-top: 200px;
  }
  
  .section3_title p{
    font-size: 14px;
    padding-top: 10px;
  }
    
  .background_img{
    width: 120px;
    height: 120px;
  }
  
  .background_img img{
    width: 75px;
    height: 75px;
  }

  #linha1{
    flex-direction: column;
  }

  #linha2{
    flex-direction: column;
    margin-top: 50px;
  }

  #elemento2, #elemento3, #elemento5{
    margin-top: 50px;
  }

  #linha1 h2{
    font-size: 16px;
    margin-top: 38px;
    padding-inline: 60px;
  }
  
  #linha2 h2{
    font-size: 16px;
    padding-inline: 60px;
    margin-top: 38px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 50px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 28px;
  }
  
  #section4_title p{
    font-size: 12px;
    padding-inline: 40px;
  }

  #linha3{
    flex-direction: column;
    margin-top: 10px;
  }

  #linha4{
    flex-direction: column;
    margin-top: 20px;
  }
  
  .section4_img{
    width: 120px;
    height: 120px;
  }
  
  .section4_img img{
    width: 75px;
    height: 80px;
  }

  .sec_4_coluna{
    margin-top: 50px;
  }
  
  .sec_4_coluna h2{
    font-size: 15px;
    padding-inline: 50px;
    margin-top: 38px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #text_5 h1{
    font-size: 25px;
    margin-top: 20px;
    padding-inline: 0;
  }
  
  #text_5 p{
    font-size: 12px;
    padding-top: 10px;
    padding-inline: 20px;
  }

  #circulos{
    content: url('/images/circulos.png');
    display: flex;
    padding-top: 30px;
    margin: 0 auto;
    width: 240px;
  }

  #circulos img{
    padding-top: 30px;  
  }
  
  #section5_btn{
    margin-top: 40px;
  }
  
  #section5_btn button{
    width: 160px;
    height: 38px;
    font-size: 9px;
  }
  
  #text_6 h1{
    font-size: 25px;
    margin-bottom: -30px;
  }
  
  #mapa{
    width: 220px;
    height: 380px;
  }
  
  #rodape{
    height: 255px;
  }
  
  #rodape h2{
    font-size: 11px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 9px;
    margin-top: 10px;
  }

  #logo_rodape img{
    display: none;
  }

  #logo_responsiva img{
    display: block;
    width: 140px;
    margin: 0 auto;
    padding-top: 30px;
  }
  
  #div_branca{
    width: 1px;
    height: 135px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:6px;
    width: 10px;
  }
}

/*
@media screen and (min-height: 800px){
  #logo img{
    width: 200px;
  }
    
  #section1_h1 h1{
    font-size: 40px;
  }
  
  #section1_p p{
    font-size: 18px;
  }
  
  #section1_button button{
    width: 250px;
    height: 46px;
    font-size: 13px;
  }
  
  #section2{
    height: 100%;
    justify-content: center;
    flex-direction: column;
  }

  #section2_h1{
    margin-top: 120px;
    margin-left: 0;
  }
  
  .sec2_title{
    font-size: 34px;
    text-align: center;
  }
  
  #section2_p{
    text-align:justify;
    padding-top: 50px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 16px;
    text-align:justify;
    padding-inline: 100px;
  }

  #section2_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
  }
  
  #section2_img img{
    width: 100%;
  }

  #section3{
    margin-top: 50px;
  }
  
  .section3_title h1{
    font-size: 34px;
    margin-top: -100px;
  }
  
  .section3_title p{
    font-size: 17px;
  }
    
  .background_img{
    width: 140px;
    height: 140px;
  }
  
  .background_img img{
    width: 90px;
    height: 90px;
  }

  #linha1{
    padding-top: 100px;
  }

  #linha1 h2{
    font-size: 17px;
    margin-top: 38px;
    padding-inline: 20px;
  }
  
  #linha2 h2{
    font-size: 17px;
    padding-inline: 20px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 12px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 12px;
    padding-inline: 50px;
  }
  
  #section4_title h1{
    font-size: 34px;
  }
  
  #section4_title p{
    font-size: 13px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 140px;
    height: 140px;
  }
  
  .section4_img img{
    width: 90px;
    height: 90px;
  }
  
  .sec_4_coluna h2{
    font-size: 17px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 12px;
    padding-inline: 30px;
  }

  #section5{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
  }
  
  #text_5 h1{
    font-size: 31px;
  }
  
  #text_5 p{
    font-size: 15px;
    padding-top: 10px;
  }

  #circulos img{
    width: 600px;
  }
  
  #section5_btn{
    margin-top: 80px;
  }
  
  #section5_btn button{
    width: 217px;
    height: 46px;
    font-size: 13px;
  }
  
  #text_6 h1{
    font-size: 33px;
  }
  
  #mapa{
    width: 480px;
    height: 330px;
    margin-top: 50px;
  }
  
  #rodape{
    height: 190px;
  }
  
  #logo_rodape img{
    width: 150px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 13px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 10px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 20px;
  }
} */

/* TELAS MAIORES 
@media screen and (max-width: 2900px){
  #logo img{
    width: 350px;
  }
    
  #section1_h1 h1{
    font-size: 70px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 34px;
  }
  
  #section1_button button{
    width: 300px;
    height: 67px;
    font-size: 20px;
  }
  
  #section2_h1{
    margin-top: 30rem;
    margin-left: 13rem;
  }
  
  .sec2_title{
    font-size: 60px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 70px;
    margin-left: -70px;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 34px;
    text-align:justify;
    padding-inline: 18rem;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: 30rem;
  }

  #container{
    margin-top: 100px;
  }
  
  .section3_title h1{
    font-size: 68px;
  }
  
  .section3_title p{
    font-size: 36px;
  }
    
  .background_img{
    width: 260px;
    height: 260px;
  }
  
  .background_img img{
    width: 150px;
    height: 150px;
  }

  #linha2{
    margin-top: 120px;
    margin-left: 80px;
  }
  
  #linha1 h2{
    font-size: 35px;
    margin-top: 38px;
    padding-inline: 0;
  }
  
  #linha2 h2{
    font-size: 35px;
    padding-inline: 0;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 25px;
    padding-inline: 0;
    margin-top: 10px;
  }

  #elemento1, #elemento2, #elemento3, #elemento4, #elemento5{
    margin: 70px;
  }
  
  #linha2 p{
    font-size: 25px;
    padding-inline: 0;
  }
  
  #section4_title h1{
    font-size: 70px;
  }

  #section4_flex{
    margin-top: 100px;
  }
  
  #section4_title p{
    font-size: 32px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 260px;
    height: 260px;
  }
  
  .section4_img img{
    width: 150px;
    height: 150px;
  }
  
  .sec_4_coluna{
    margin-left: 70px;
  }

  #linha4{
    margin-left: 50px;
  }

  .sec_4_coluna h2{
    font-size: 34px;
    padding-inline: 0;
  }
  
  .sec_4_coluna p{
    font-size: 25px;
    padding-inline: 0;
  }
  
  #section5{
    padding: 30%;
  }

  #text_5 h1{
    font-size: 65px;
  }
  
  #text_5 p{
    font-size: 31px;
    padding-top: 10px;
  }

  .imagem_circulo{
    width: 70rem;
  }

  #section5_btn{
    margin-top: 120px;
  }
  
  #section5_btn button{
    width: 320px;
    height: 75px;
    font-size: 20px;
  }
  
  #text_6 h1{
    font-size: 68px;
  }
  
  #mapa{
    width: 80rem;
    height: 40rem;
    margin-top: 100px;
  }
  
  #rodape{
    height: 250px;
  }
  
  #logo_rodape img{
    width: 270px;
    margin-top: 80px;
  }
  
  #rodape h2{
    font-size: 24px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 18px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 170px;
    margin-top: 40px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:20px;
    width: 35px;
  }
}

@media screen and (max-width: 2500px){
  #logo img{
    width: 300px;
  }
    
  #section1_h1 h1{
    font-size: 65px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 32px;
  }
  
  #section1_button button{
    width: 292px;
    height: 65px;
    font-size: 19px;
  }
  
  #section2_h1{
    margin-top: 350px;
    margin-left: 125px;
  }
  
  .sec2_title{
    font-size: 60px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 70px;
    margin-left: -70px;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 30px;
    text-align:justify;
    padding-inline: 200px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: 300px;
  }

  #container{
    margin-top: 100px;
  }
  
  .section3_title h1{
    font-size: 64px;
  }
  
  .section3_title p{
    font-size: 32px;
  }
    
  .background_img{
    width: 230px;
    height: 230px;
  }
  
  .background_img img{
    width: 130px;
    height: 130px;
  }

  #linha2{
    margin-top: 120px;
  }
  
  #linha1 h2{
    font-size: 30px;
    margin-top: 38px;
    padding-inline: 30px;
  }
  
  #linha2 h2{
    font-size: 30px;
    padding-inline: 30px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 23px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 23px;
    padding-inline: 20px;
  }
  
  #section4_title h1{
    font-size: 62px;
  }

  #section4_flex{
    margin-top: 100px;
  }
  
  #section4_title p{
    font-size: 28px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 220px;
    height: 220px;
  }
  
  .section4_img img{
    width: 125px;
    height: 125px;
  }
  
  .sec_4_coluna h2{
    font-size: 30px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 23px;
    padding-inline: 20px;
  }
  
  #section5{
    padding: 25%;
  }

  #text_5 h1{
    font-size: 55px;
  }
  
  #text_5 p{
    font-size: 27px;
    padding-top: 10px;
  }

  .imagem_circulo{
    width: 900px;
  }

  #section5_btn{
    margin-top: 120px;
  }
  
  #section5_btn button{
    width: 300px;
    height: 70px;
    font-size: 18px;
  }
  
  #text_6 h1{
    font-size: 60px;
  }
  
  #mapa{
    width: 1000px;
    height: 600px;
    margin-top: 100px;
  }
  
  #rodape{
    height: 250px;
  }
  
  #logo_rodape img{
    width: 250px;
    margin-top: 80px;
  }
  
  #rodape h2{
    font-size: 22px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 16px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 170px;
    margin-top: 40px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 30px;
  }
}


@media screen and (max-width: 2200px){
  #logo img{
    width: 270px;
  }
    
  #section1_h1 h1{
    font-size: 61px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 27px;
  }
  
  #section1_button button{
    width: 270px;
    height: 58px;
    font-size: 17px;
  }
  
  #section2_h1{
    margin-top: 250px;
    margin-left: 125px;
  }
  
  .sec2_title{
    font-size: 50px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 70px;
    margin-left: -50px;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 25px;
    text-align:justify;
    padding-inline: 180px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: 150px;
  }
  
  .section3_title h1{
    font-size: 53px;
  }
  
  .section3_title p{
    font-size: 27px;
  }
    
  .background_img{
    width: 220px;
    height: 220px;
  }
  
  .background_img img{
    width: 125px;
    height: 125px;
  }

  #linha2{
    margin-top: 150px;
  }
  
  #linha1 h2{
    font-size: 28px;
    margin-top: 38px;
    padding-inline: 30px;
  }
  
  #linha2 h2{
    font-size: 28px;
    padding-inline: 30px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 21px;
    padding-inline: 20px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 21px;
    padding-inline: 20px;
  }
  
  #section4_title h1{
    font-size: 58px;
  }
  
  #section4_title p{
    font-size: 25px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 220px;
    height: 220px;
  }
  
  .section4_img img{
    width: 125px;
    height: 125px;
  }
  
  .sec_4_coluna h2{
    font-size: 28px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 21px;
    padding-inline: 20px;
  }
  
  #section5{
    padding: 25%;
  }

  #text_5 h1{
    font-size: 49px;
  }
  
  #text_5 p{
    font-size: 23px;
    padding-top: 10px;
  }

  .imagem_circulo{
    width: 700px;
  }

  #section5_btn{
    margin-top: 120px;
  }
  
  #section5_btn button{
    width: 260px;
    height: 55px;
    font-size: 16px;
  }
  
  #text_6 h1{
    font-size: 50px;
  }
  
  #mapa{
    width: 850px;
    height: 500px;
    margin-top: 100px;
  }
  
  #rodape{
    height: 200px;
  }
  
  #logo_rodape img{
    width: 190px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 18px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 14px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 24px;
  }
}

@media screen and (max-width: 1900px){
  #logo img{
    width: 270px;
  }
    
  #section1_h1 h1{
    font-size: 61px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 27px;
  }
  
  #section1_button button{
    width: 260px;
    height: 50px;
    font-size: 15px;
  }
  
  #section2_h1{
    margin-top: 200px;
    margin-left: 95px;
  }
  
  .sec2_title{
    font-size: 45px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 50px;
    margin-left: -50px;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 22px;
    text-align:justify;
    padding-inline: 150px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: -30px;
  }
  
  .section3_title h1{
    font-size: 48px;
  }
  
  .section3_title p{
    font-size: 25px;
  }
    
  .background_img{
    width: 195px;
    height: 195px;
  }
  
  .background_img img{
    width: 115px;
    height: 115px;
  }
  
  #linha1 h2{
    font-size: 25px;
    margin-top: 38px;
    padding-inline: 10px;
  }
  
  #linha2 h2{
    font-size: 25px;
    padding-inline: 10px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 20px;
    padding-inline: 10px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 20px;
    padding-inline: 10px;
  }
  
  #section4_title h1{
    font-size: 52px;
  }
  
  #section4_title p{
    font-size: 22px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 195px;
    height: 195px;
  }
  
  .section4_img img{
    width: 110px;
    height: 110px;
  }
  
  .sec_4_coluna h2{
    font-size: 26px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 18px;
    padding-inline: 20px;
  }
  
  #text_5 h1{
    font-size: 45px;
  }
  
  #text_5 p{
    font-size: 21px;
    padding-top: 10px;
  }

  .imagem_circulo{
    width: 650px;
  }
  
  #section5_btn button{
    width: 250px;
    height: 52px;
    font-size: 15px;
  }
  
  #text_6 h1{
    font-size: 48px;
  }
  
  #mapa{
    width: 800px;
    height: 450px;
    margin-top: 50px;
  }
  
  #rodape{
    height: 200px;
  }
  
  #logo_rodape img{
    width: 190px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 18px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 14px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 24px;
  }
}

@media screen and (max-width: 1500px){
  #logo img{
    width: 270px;
  }
    
  #section1_h1 h1{
    font-size: 57px;
    padding-inline: 20px;
  }
  
  #section1_p p{
    font-size: 25px;
  }
  
  #section1_button button{
    width: 255px;
    height: 48px;
    font-size: 14px;
  }
  
  #section2_h1{
    margin-top: 190px;
    margin-left: 70px;
  }
  
  .sec2_title{
    font-size: 43px;
  }
  
  #section2_p{
    text-align:justify;
    margin-top: 50px;
    margin-left: 0;
    padding-right: 0;
  }
  
  #section2_p p{
    font-size: 22px;
    text-align:justify;
    padding-inline: 70px;
  }
  
  #section2_img img{
    width: 50vw;
  }
  
  #section3{
    margin-top: -120px;
  }
  
  .section3_title h1{
    font-size: 43px;
  }
  
  .section3_title p{
    font-size: 22px;
  }
    
  .background_img{
    width: 160px;
    height: 160px;
  }
  
  .background_img img{
    width: 100px;
    height: 100px;
  }
  
  #linha1 h2{
    font-size: 22px;
    margin-top: 38px;
    padding-inline: 20px;
  }
  
  #linha2 h2{
    font-size: 22px;
    padding-inline: 30px;
    margin-top: 40px;
  }
  
  #linha1 p{
    font-size: 16px;
    padding-inline: 30px;
    margin-top: 10px;
  }
  
  #linha2 p{
    font-size: 16px;
    padding-inline: 40px;
  }
  
  #section4_title h1{
    font-size: 45px;
  }
  
  #section4_title p{
    font-size: 18px;
    padding-inline: 60px;
  }
  
  .section4_img{
    width: 160px;
    height: 160px;
  }
  
  .section4_img img{
    width: 100px;
    height: 100px;
  }
  
  .sec_4_coluna h2{
    font-size: 22px;
    padding-inline: 20px;
  }
  
  .sec_4_coluna p{
    font-size: 16px;
    padding-inline: 30px;
  }
  
  #text_5 h1{
    font-size: 38px;
  }
  
  #text_5 p{
    font-size: 18px;
    padding-top: 10px;
  }

  .imagem_circulo{
    width: 600px;
  }
  
  #section5_btn button{
    width: 235px;
    height: 50px;
    font-size: 14px;
  }
  
  #text_6 h1{
    font-size: 40px;
  }
  
  #mapa{
    width: 700px;
    height: 400px;
    margin-top: 50px;
  }
  
  #rodape{
    height: 200px;
  }
  
  #logo_rodape img{
    width: 170px;
    margin-top: 75x;
  }
  
  #rodape h2{
    font-size: 17px;
    margin-top: 40px;
  }
  
  #rodape p, #sobre a{
    font-size: 13px;
    margin-top: 15px;
  }
  
  #div_branca{
    width: 1px;
    height: 142px;
    margin-top: 30px;
  }
  
  #redes img{
    margin-top: 15px;
    padding:10px;
    width: 23px;
  }
}

*/