#section6{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8%;
  width: 100%;
  background-size: cover;
  background-color: #00214A;
}

#img_whatsapp_responsivo{
  display: none;
}

#container_section6{
  display: flex;
}
  
#container-text h1{
  font-style:italic;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 4rem;
}

#container-text p{
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 1.7rem;
  font-weight: 300;
}

#container-text{
  display: flex;
  flex-direction: column;
  width: 80%;
}

#img_whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

#img_whatsapp img{
  width: 85%;
  margin-left: 50%;
}

#contato{
  margin-top: 50px;
}

#contato button{
  background: none;
  width: 390px;
  height: 90px;
  border: #ffffff 3px solid;
  border-radius: 15px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Poppins';
  font-style: italic;
  cursor: pointer;
}

#contato button:hover{
  animation: pulse 0.6s infinite;
}