#section4{
  width: 100%;
  height: 100%;
  padding: 10%;
  background-color: #F7F7F7;
  background-position: center;
  background-size: cover;
}
  
#section4_title h1{
  text-align: center;
  font-family: 'Poppins';
  color: #00214A;
  font-style: italic;
  font-size: 2.8rem;
}
  
#section4_flex{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.section4_img{
  margin: 0 auto;
}

.sec_4_coluna{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #ffffff;
  justify-self: center;
  align-self: center;
  margin: 20px;
}

.sec_4_coluna h2{
  text-align: center;
  color: #00214A;
  font-size: 1.4rem;
  font-family: 'Poppins';
  font-weight: 600;
  padding-inline: 15%;
}

.sec_4_coluna p{
  color: #8A8A8A;
  font-family:'Inter';
  font-size: 1rem;
  text-align: center;
  padding: 5%;
}
 
#simular_botao{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:40px;
}

#simular_botao button{
  background-color: #BC0F06;
  width: 370px;
  height: 58px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: 'Poppins';
  cursor: pointer;
  transition:  0.3s ease;
}

#simular_botao button:hover{
  animation: pulse 0.6s infinite;
}
  
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
 
  
 
 
 