#rodape{
  background-color: #ffffff;
  height: auto;
  padding: 4%;
  width: 100%;
  margin: 0 auto;
}
  
#logo_rodape img{
  width: 240px;
  margin-top: 50px;
}
  
#flex_rodape{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  width: 100%;
  max-width: 3000px;
  margin: 0 auto;
}
  
#container-info{
  display: flex;
  flex-direction: column;
}

.info_text p{
  font-size: 1.1rem;
  color: #4F4F4F;
  font-family: 'Inter';
  font-weight: 500;
  padding-top: 50px;
}

#container-info h2, #container-redes h2{
  font-size: 1.2rem;
  color: #000000;
  font-family: 'Poppins';
  font-weight: 600;
}

#container-info p, #container-redes p{
  color: #202020;
  font-family: 'Inter';
  padding-top: 18px;
}

#ouvidoria h2{
  padding-top: 20px;
}

#container1-rodape-responsivo{
  display: none;
}

#container1-rodape{
  width: 45%;
}

#div_branca{
  width: 2px;
  height: 300px;
  background-color: #296FC5;
  margin-top: 40px;
}

#container-redes{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container-redes img{
  margin-top: 15px;
  width: 60px;
  padding:10px;
}
