#section3{
    width: 100%;
    background-color:#fdfdfd;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
  }
  
  #container{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    position: relative;
  }

  .section3_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
  }
  
  .section3_title h1{
    text-align: center;
    font-family: 'Poppins';
    color: #00214A;
    font-style: italic;
    font-size: 40px;
  }
  
  .section3_title p{
    text-align: center;
    font-family: 'Abandon';
    font-weight: 300;
    font-size: 20px;
  }
  
  #linha1{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 120px;
    max-width: 980px;
  }
  
  .background_img{
    width: 180px;
    height: 180px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .background_img img{
    width: 120px;
    height: 120px;
  }
  
  #linha1 h2{
    font-family: 'Poppins';
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    text-align:center;
    margin-top: 40px;
    padding-inline: 40px;
  }
  
  #linha1 p{
    font-family: 'Poppins';
    font-size: 14px;
    color: rgb(53, 53, 53);
    font-weight: 400;
    text-align: center;
    padding-inline: 30px;
    margin-top: 10px;
  }
  
  #elemento1, #elemento2, #elemento3{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fazer_parte_botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  #fazer_parte_botao button{
    background-color: #BC0F06;
    width: 255px;
    height: 45px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Poppins';
  }