#section2{
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-color: #ffffff;
    height:50vh;
    margin-bottom: 100px;
    width: 100%;
  }
  
  #section2_h1{
    margin-top: 170px;
    margin-left: 70px;
  }
  
  .sec2_title{
    font-family: 'Bitter';
    font-weight: 700;
    color: #BC0F06;
    font-size: 40px;
  }
  
  #section2_p p{
    color: #2f3031;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
  }
  
  #section2_p{
    padding-right: 150px;
    margin-left: 70px;
    margin-top: 60px;
  }
  
  #section2_img{
    padding-top: 100px;
  }
  
  #section2_img img{
    width: 50vw;
  }